@import '../../scss/base';

.Input {
  -webkit-appearance: none;
  background: $white;
  border-radius: 2px;
  border: none;
  border: 1px solid $gray-100;
  color: $gray-700;
  display: inline-block;
  font-size: 1.6rem;
  height: 3.2rem;
  outline: none;
  padding: 0.6rem 0.6rem;
  transition: all $time;

  &:hover {
    border-color: $gray-200;
    cursor: pointer;
  }

  &:focus {
    border-color: $gray-400;
    color: $black;
  }
}
