@import "../../scss/base";

.Knob {
  margin-bottom: 1rem;
}

.Knob-label {
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.Knob-checkbox {
  margin-right: 0.8rem;
}

.Knob-value {
  flex-basis: 2rem;
  flex-shrink: 0;
  margin-left: 1.5rem;
  text-align: right;
}

.Knob-inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Knob-inputWrapper--seed {
  margin-top: 0.5rem
}

.Knob-input {
  font-size: 1.4rem;
}

.Knob-input--seed {
}

.Knob-randomize {
  padding: 0 0.5rem;
  font-size: 2.2rem;
  margin-left: 1rem;
}


.Knob-note {
  font-size: 1.2rem;
  margin-top: 0.3rem;
  color: $gray-700;
}