@use 'breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.controls {
  --controls-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --controls-main-l: 0.63;
  --controls-main-c: 0.2;
  --controls-main-h: 265;

  --controls-main-oklch: var(--controls-main-l) var(--controls-main-c) var(--controls-main-h);
  --controls-main: oklch(var(--controls-main-oklch));

  --controls-main-dark-l: calc(var(--controls-main-l) - 0.2);
  --controls-main-dark-oklch: var(--controls-main-dark-l) var(--controls-main-c) var(--controls-main-h);
  --controls-main-dark: oklch(var(--controls-main-dark-oklch));

  --controls-bg: #fff;
  --controls-fg: #111;
  --controls-fg-muted: #545f6f;
  --controls-fg-light: #eee;

  --controls-gray-50: #eff1f4;
  --controls-gray-100: #dee3ea;
  --controls-gray-200: #bec7d5;
  --controls-gray-300: #9eacc2;
  --controls-gray-400: #8292a9;
  --controls-gray-500: #6b788b;
  --controls-gray-600: #545f6f;
  --controls-gray-700: #3f4753;
  --controls-gray-800: #2a313a;
  --controls-gray-900: #181c22;
  --controls-gray-950: #0e1116;

  --controls-button-bg: var(--controls-gray-50);
  --controls-button-bg-hover: var(--controls-gray-100);

  --controls-input-bg: var(--controls-gray-50);
  --controls-input-bg-active: var(--controls-gray-100);

  --controls-radius: 4px;

  background: var(--controls-bg);
  color: var(--controls-fg);

  display: grid;
  font-family: var(--controls-font);
  font-size: 0.875rem;
  width: 100%;

  padding: 0.5rem;
  gap: 0.5rem;
  border-top: 1px solid var(--controls-gray-100);
  background: var(--controls-gray-50);
  scrollbar-width: thin;
  scrollbar-color: var(--controls-gray-400) transparent;

  font-family: 'Inconsolata', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;

  @include breakpoints.md {
    display: grid;
    gap: 0.5rem 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
  }

  @include breakpoints.lg {
    display: flex;
    flex-direction: column;
    align-items: unset;
    max-width: 22rem;
    height: 100vh;
    overflow: auto;
    border-left: 1px solid var(--controls-gray-100);
    border-top: none;
  }
}

.controls-randomize {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  background: var(--controls-gray-100);
  border-radius: 0.5rem;
  margin-left: 6rem;
  transition:
    color 500ms,
    background-color 500ms;

  &:focus-visible,
  &:hover {
    background: oklch(var(--controls-main-oklch) / 0.1);
    color: var(--controls-main);

    svg {
      transform: rotate(0.5turn);
    }

    path:nth-child(2),
    path:nth-child(4) {
      opacity: 0;
    }
  }

  svg {
    width: 1rem;
    transition:
      transform 500ms,
      color 500ms;
  }

  path {
    transition: opacity 500ms;
  }
}

.control {
  /* display: flex; */
  display: grid;
  grid-template-columns: 6rem minmax(0, 1fr);
  align-items: center;
  /* border: 1px solid var(--controls-gray-100); */
  border-radius: var(--controls-radius);
}

.control-label {
  color: var(--controls-fg-muted);
  flex: 6rem 0 0;
  font-weight: 700;
}

.control-right {
  /* width: 13rem; */
  /* width: calc(100% - 10rem); */
  flex: auto 1 1;

  border: 1px solid var(--controls-gray-100);
  background: var(--controls-bg);
  border-radius: var(--controls-radius);
  padding: 0.5rem;
}

.controls button:focus-visible {
  outline: 2px solid var(--controls-main);
  outline-offset: 2px;
}

/* ----- Boolean ----- */

.control--boolean .control-right {
}

.control--boolean input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -1000vw;
}

.boolean-checkmark {
  appearance: none;
  width: 1rem;
  height: 1rem;
  color: transparent;
  background: var(--controls-gray-100);
  border-radius: var(--controls-radius);
  display: grid;
  place-items: center;

  svg {
    width: 0.875rem;
    height: 0.875rem;
    stroke-width: 4px;
  }
}

.boolean-input:checked + .boolean-checkmark {
  color: var(--controls-fg-light);
  border-color: transparent;
  background: var(--controls-main);
}

.boolean-input:focus-visible + .boolean-checkmark {
  outline: 2px solid var(--controls-main);
  outline-offset: 2px;
}

label:hover .boolean-input:not(:checked) + .boolean-checkmark {
  color: var(--controls-gray-300);
}

label:hover .boolean-input:checked + .boolean-checkmark {
  background: var(--controls-main-dark);
}

/* ----- Range -----  */

.range-input {
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  background: none;
  border-radius: 0;
  flex-basis: calc(50% + var(--dri-thumb-width));
  flex-shrink: 0;
  font-size: inherit;
  height: 1rem;
  margin: 0;
  min-width: var(--dri-thumb-width);
  outline: none;
  border-radius: var(--controls-radius);

  &:focus-visible {
    outline: 2px solid var(--controls-main);
    outline-offset: 2px;
  }
}

// Mixins

@mixin range-track {
  background-color: var(--controls-gray-100);
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 0.25rem;

  border-start-start-radius: var(--controls-radius);
  border-end-start-radius: var(--controls-radius);

  background-image: linear-gradient(
    to right,
    var(--controls-main) var(--gradient-position),
    var(--controls-gray-100) var(--gradient-position)
  );
}

@mixin range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--controls-gray-100);
  border-radius: var(--controls-radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  box-sizing: border-box;
  height: 1rem;
  width: 1.25rem;

  &:hover {
    background-color: var(--controls-gray-200);
    border-color: var(--controls-gray-300);
  }

  &:active {
    background-color: var(--controls-main);
    border-color: transparent;
  }
}

// Selectors for Firefox and Webkit can't be combined

// ----- Firefox ----- //
.range-input::-moz-range-track {
  @include range-track;
}

.range-input::-moz-range-track {
  @include range-track;
}

.range-input::-moz-range-thumb {
  @include range-thumb;
  // In Firefox, thumb jumps above the track if the input is the same width as the thumb.
  // This fixes it, but I would like to find the root cause.
  max-width: 99.99%;
}

// ----- Webkit ----- //

input::-webkit-slider-runnable-track {
  @include range-track;
}

input::-webkit-slider-runnable-track {
  @include range-track;
}

input::-webkit-slider-thumb {
  @include range-thumb;
  // Center thumb vertically, Webkit only
  margin-top: 0.125rem;
  transform: translateY(-50%);
}

/* ----- Dual range -----  */

.control-right .dual-range-input {
  --dri-track-filled-color: var(--controls-main);

  --dri-height: 1rem;
  --dri-thumb-width: 1.25rem;
  --dri-thumb-height: 1rem;

  --dri-thumb-border-radius: var(--controls-radius);
  --dri-thumb-color: var(--controls-gray-100);
  --dri-thumb-hover-color: var(--controls-gray-200);
  --dri-thumb-active-color: var(--controls-main);

  --dri-thumb-border-color: var(--controls-gray-200);
  --dri-thumb-border-hover-color: var(--controls-gray-300);
  --dri-thumb-border-active-color: transparent;

  --dri-track-color: var(--controls-gray-100);

  &:has(input:focus-visible) {
    outline-offset: 2px;
  }
  /*

  // Thumb size


  // Thumb background color
  --dri-thumb-color: #ddd;
  --dri-thumb-hover-color: #a8d5ff;
  --dri-thumb-active-color: #4eaaff;

  // Thumb border
  --dri-thumb-border-color: rgba(0, 0, 0, 0.1);
  --dri-thumb-border-hover-color: var(--dri-thumb-border-color);
  --dri-thumb-border-active-color: var(--dri-thumb-border-color);
  --dri-thumb-border-width: 1px;

  // Track size
  --dri-track-height: 0.25rem;
  --dri-track-border-radius: 1rem;

  // Track color

  --dri-track-filled-color: #0084ff;
  --dri-track-filled-gradient-color: var(--dri-track-filled-color);
  */
}

/* ----- Radio -----  */

.control--radio .control-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.radio-label {
  display: block;
  text-align: center;
  border-radius: var(--controls-radius);
  background: var(--controls-button-bg);
  cursor: pointer;
  padding: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background: var(--controls-button-bg-hover);
  }
}

.radio-label input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -1000vw;
}

.radio-label:has(input:checked) {
  background: var(--controls-main);
  background-image: linear-gradient(to bottom right, var(--controls-main), var(--controls-accent));
  color: var(--controls-fg-light);
}

.radio-label:has(input:focus-visible) {
  outline: 2px solid var(--controls-main);
  outline-offset: 2px;
}

/* ----- Seed -----  */

.control--seed .control-right {
  display: flex;
  gap: 0.25rem;
}

.seed-input {
  background-color: var(--controls-input-bg);
  padding: 0.25rem 0.5rem;
  border-radius: var(--controls-radius);
  width: 0;
  flex-grow: 1;

  &:focus {
    outline: 2px solid var(--controls-main);
    outline-offset: 2px;
  }

  &:focus--visible {
  }
}

.seed-new-button {
  padding: 0 0.25rem;
  flex-shrink: 0;
  border-radius: var(--controls-radius);
  transition:
    color 500ms,
    background-color 500ms;

  &:focus-visible,
  &:hover {
    background: oklch(var(--controls-main-oklch) / 0.1);
    color: var(--controls-main);

    svg {
      transform: rotate(0.5turn);
    }
  }

  svg {
    width: 1rem;
    transition:
      transform 500ms,
      color 500ms;
  }
}

/* ----- Easing -----  */

.easing {
  position: relative;
  margin-block: 0.5rem;

  path,
  line {
    vector-effect: non-scaling-stroke;
    fill: none;
    stroke-linecap: round;
  }
}

.easing-ticks {
  height: 0.375rem;
  width: 100%;
}

.easing-ticks line {
  stroke: var(--controls-gray-200);
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.easing-borders {
  stroke: var(--controls-gray-200);
  stroke-dasharray: 1 3;
}

.easing-path {
  stroke-width: 2px;
  stroke: var(--controls-main);
}

.easing-line {
  stroke: var(--controls-gray-200);
  stroke-dasharray: 3;
}

.easing-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.easing-buttons button {
  overflow: hidden;
  display: grid;
  align-content: center;
  text-align: center;
  border-radius: var(--controls-radius);
  background: var(--controls-button-bg);
  padding: 0.25rem;

  &:hover {
    background: var(--controls-button-bg-hover);
  }
}

.control--radio .control-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.easing-handle {
  touch-action: none;
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: grab;
  font-size: 0;
  color: transparent;
  transition: border 250ms;
  border: 0.75rem solid transparent;

  &::after {
    content: '';
    display: block;
    background-color: var(--controls-gray-50);
    border: 1px solid var(--controls-gray-300);
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  &:hover,
  &:focus-visible {
    border-color: oklch(var(--controls-main-oklch) / 0.1);

    &::after {
      background-color: var(--controls-main);
      border: 1px solid var(--controls-main);
    }
  }
}
