@use 'breakpoints';

// ----- Variables ----- //

.controls {
  --ctrls-font:
    'Inconsolata', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --ctrls-radius: 4px;
  --ctrls-label-width: 6rem;

  // Theme colors
  --ctrls-c: 0.7;
  --ctrls-h: 220;

  --ctrls-theme: oklch(0.6 var(--ctrls-c) var(--ctrls-h));
  --ctrls-theme-oklch: 0.6 var(--ctrls-c) var(--ctrls-h);

  --ctrls-theme-light: oklch(0.8 var(--ctrls-c) var(--ctrls-h));

  // Grays
  --ctrls-gray-50: #f1f1f1;
  --ctrls-gray-100: #e3e3e3;
  --ctrls-gray-200: #c7c7c7;
  --ctrls-gray-300: #acacac;
  --ctrls-gray-400: #929292;
  --ctrls-gray-500: #787878;

  // Scrollbar
  --ctrls-scrollbar-thumb-bg: var(--ctrls-gray-400);

  // Backgrounds and text
  --ctrls-bg: oklch(0.99 0.005 var(--ctrls-h) / 0.6);
  --ctrls-text: oklch(0.01 0.3 var(--ctrls-h)); // text
  --ctrls-text-muted: oklch(0.5 0.005 var(--ctrls-h));

  // Borders
  --ctrls-border: oklch(0.925 0.01 var(--ctrls-h));
  --ctrls-input-border: oklch(0.925 0.01 var(--ctrls-h));

  // Input wrapper
  --ctrls-input-wrapper-bg: white; // oklch(0.95 0.001 var(--ctrls-h));

  // Buttons
  --ctrls-btn-bg: white;

  --ctrls-btn-hover-bg: oklch(0.95 0.01 var(--ctrls-h) / 0.5);
  --ctrls-btn-hover-text: var(--ctrls-theme);

  --ctrls-btn-selected-bg: var(--ctrls-theme);
  --ctrls-btn-selected-text: white;

  // Text input
  --ctrls-input-bg: white;

  // Range
  --ctrls-range-track-bg: var(--ctrls-gray-100);
  --ctrls-range-track-active-bg: var(--ctrls-theme);

  --ctrls-range-thumb-bg: var(--ctrls-gray-100);
  --ctrls-range-thumb-border: var(--ctrls-gray-200);

  --ctrls-range-thumb-hover-bg: var(--ctrls-gray-200);
  --ctrls-range-thumb-hover-border: var(--ctrls-gray-300);
  --ctrls-range-thumb-active-bg: var(--ctrls-theme);
  --ctrls-range-thumb-radius: 4px;

  // Checkbox
  --ctrls-checkbox-bg: white;
  --ctrls-checkbox-radius: 4px;

  --ctrls-checkbox-hover-text: var(--ctrls-gray-200);

  --ctrls-checkbox-checked-bg: var(--ctrls-theme);
  --ctrls-checkbox-checked-text: var(--ctrls-gray-50);

  --ctrls-checkbox-checked-hover-bg: oklch(0.5 var(--ctrls-c) var(--ctrls-h));

  // Easing
  --ctrls-easing-border: var(--ctrls-gray-200);

  --ctrls-easing-handle-bg: var(--ctrls-gray-50);
  --ctrls-easing-handle-border: var(--ctrls-gray-300);
}

@media (prefers-color-scheme: dark) {
  .controls {
    // Theme colors
    --ctrls-c: 0.3;

    --ctrls-theme-oklch: 0.6 var(--ctrls-c) var(--ctrls-h);
    --ctrls-theme: oklch(0.6 var(--ctrls-c) var(--ctrls-h));

    // Grays
    --ctrls-gray-50: #e1e1e1;
    --ctrls-gray-100: #d3d3d3;
    --ctrls-gray-200: #b7b7b7;
    --ctrls-gray-300: #9c9c9c;
    --ctrls-gray-400: #828282;
    --ctrls-gray-500: #686868;

    // Scrollbar
    --ctrls-scrollbar-thumb-bg: #5f5f5f;

    // Backgrounds and text
    --ctrls-bg: oklch(0.27 0.003 var(--ctrls-h) / 0.7);
    --ctrls-text: oklch(0.95 0.005 var(--ctrls-h)); // text
    --ctrls-text-muted: oklch(0.7 0.005 var(--ctrls-h));

    // Borders
    --ctrls-border: oklch(0.35 0.01 var(--ctrls-h));
    --ctrls-input-border: transparent;

    // Input wrapper
    --ctrls-input-wrapper-bg: oklch(0.2 0.001 var(--ctrls-h));

    // Buttons
    --ctrls-btn-bg: oklch(0.2 0.001 var(--ctrls-h));

    --ctrls-btn-hover-bg: oklch(0.1 0.001 var(--ctrls-h));
    --ctrls-btn-hover-text: var(--ctrls-theme-light);

    // Text input
    --ctrls-input-bg: var(--ctrls-input-wrapper-bg);
  }
}

.controls {
  font-size: 0.875rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-family: var(--ctrls-font);
  color: var(--ctrls-text);
  border-radius: min(calc(var(--ctrls-radius) + 8px), 28px);
  border: 1px solid var(--ctrls-border);
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  background-color: var(--ctrls-bg);
  backdrop-filter: blur(10px);
  scrollbar-width: thin;
  scrollbar-color: var(--ctrls-scrollbar-thumb-bg) transparent;
  overflow: auto;
}

/* ----- Buttons ----- */

// Shared
.controls-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: var(--ctrls-radius);
  transition:
    color 500ms,
    background-color 500ms;

  &:focus-visible,
  &:hover {
    color: var(--ctrls-btn-hover-text);
  }

  svg {
    width: 1rem;
    transition:
      transform 500ms,
      color 500ms;
  }

  path {
    transition: opacity 500ms;
  }
}

// Large buttons - randomize / save
.controls-randomize,
.controls-save {
  margin-left: var(--ctrls-label-width);
  padding: 0.5rem 1rem;
  background: var(--ctrls-btn-bg);
  border: 1px solid var(--ctrls-input-border);
  font-weight: 700;

  &:focus-visible,
  &:hover {
    color: var(--ctrls-theme);
    background: var(--ctrls-btn-hover-bg);
  }
}

@keyframes download {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translateY(-15%);
  }
}

.controls-save {
  &:focus-visible,
  &:hover {
    path:nth-child(1),
    path:nth-child(3) {
      animation: download 1000ms infinite;
    }
  }
}

.controls-randomize {
  &:focus-visible,
  &:hover {
    svg {
      transform: rotate(0.5turn);
    }

    path:nth-child(2),
    path:nth-child(4) {
      opacity: 0;
    }
  }
}

/* ----- General ----- */

.control {
  display: grid;
  grid-template-columns: var(--ctrls-label-width) minmax(0, 1fr);
  align-items: center;
  border-radius: var(--ctrls-radius);
}

.control-label {
  color: var(--ctrls-text-muted);
  font-weight: 700;
  hyphens: auto;
}

.control-right {
  flex: auto 1 1;
}

.controls button:focus-visible {
  outline: 2px solid var(--ctrls-theme);
  outline-offset: 2px;
}

.control--range,
.control--dual-range {
  .control-right {
    border: 1px solid var(--ctrls-input-border);
    background: var(--ctrls-input-wrapper-bg);
    border-radius: var(--ctrls-radius);
  }
}

/* ----- Boolean ----- */

.control--boolean input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -1000vw;
}

.boolean-checkmark {
  appearance: none;
  width: 1.125rem;
  height: 1.125rem;
  color: transparent;
  background: var(--ctrls-checkbox-bg);
  border-radius: var(--ctrls-checkbox-radius);
  border: 1px solid var(--ctrls-input-border);
  display: grid;
  place-items: center;

  svg {
    width: 0.875rem;
    height: 0.875rem;
    stroke-width: 4px;
  }
}

// Checked
.boolean-input:checked + .boolean-checkmark {
  background: var(--ctrls-checkbox-checked-bg);
  color: var(--ctrls-checkbox-checked-text);
  border-color: transparent;
}

// Checked hover
label:hover .boolean-input:checked + .boolean-checkmark {
  background: var(--ctrls-checkbox-checked-hover-bg);
}

// Not-checked hover
label:hover .boolean-input:not(:checked) + .boolean-checkmark {
  color: var(--ctrls-checkbox-hover-text);
}

// Focus
.boolean-input:focus-visible + .boolean-checkmark {
  outline: 2px solid var(--ctrls-theme);
  outline-offset: 2px;
}

/* ----- Range -----  */

.range-input {
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  background: none;
  border-radius: 0;
  flex-basis: calc(50% + var(--dri-thumb-width));
  flex-shrink: 0;
  font-size: inherit;
  height: 1.75rem;
  margin: 0;
  min-width: var(--dri-thumb-width);
  outline: none;
  border-radius: var(--ctrls-radius);
  padding: 0.5rem;

  &:focus-visible {
    outline: 2px solid var(--ctrls-theme);
    outline-offset: 2px;
  }
}

// Mixins

@mixin range-track {
  background-color: var(--ctrls-range-track-bg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 0.25rem;
  border-radius: 100px;

  background-image: linear-gradient(
    to right,
    var(--ctrls-range-track-active-bg) var(--gradient-position),
    var(--ctrls-range-track-bg) var(--gradient-position)
  );
}

@mixin range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--ctrls-range-thumb-bg);
  border-radius: var(--ctrls-range-thumb-radius);
  border: 1px solid var(--ctrls-range-thumb-border);
  box-shadow: none;
  box-sizing: border-box;
  height: 1rem;
  width: 1.25rem;
}

// Selectors for Firefox and Webkit can't be combined

// ----- Firefox ----- //
.range-input::-moz-range-track {
  @include range-track;
}

.range-input::-moz-range-track {
  @include range-track;
}

.range-input::-moz-range-thumb {
  @include range-thumb;
  // In Firefox, thumb jumps above the track if the input is the same width as the thumb.
  // This fixes it, but I would like to find the root cause.
  max-width: 99.99%;
}

.range-input:hover::-moz-range-thumb {
  background-color: var(--ctrls-range-thumb-hover-bg);
  border-color: var(--ctrls-range-thumb-hover-border);
}

.range-input:active::-moz-range-thumb {
  background-color: var(--ctrls-range-thumb-active-bg);
  border-color: transparent;
}

// ----- Webkit ----- //

input::-webkit-slider-runnable-track {
  @include range-track;
}

input::-webkit-slider-runnable-track {
  @include range-track;
}

input::-webkit-slider-thumb {
  @include range-thumb;
  // Center thumb vertically, Webkit only
  margin-top: 0.125rem;
  transform: translateY(-50%);
}

.range-input:hover::-webkit-slider-thumb {
  background-color: var(--ctrls-range-thumb-hover-bg);
  border-color: var(--ctrls-range-thumb-hover-border);
}

/* ----- Dual range -----  */

.control--dual-range .control-right {
}

.control-right .dual-range-input {
  // A hack to add 0.5rem on each side
  // https://muffinman.io/blog/native-dual-range-input/#resizing-the-inputs
  padding-inline: 0.5rem calc(var(--dri-thumb-width) * 2 + 0.5rem);

  &:has(input:focus-visible) {
    border-radius: var(--ctrls-radius);
  }

  --dri-track-color: var(--ctrls-range-track-bg);
  --dri-track-filled-color: var(--ctrls-range-track-active-bg);

  --dri-height: 1.75rem;
  --dri-thumb-width: 1.25rem;
  --dri-thumb-height: 1rem;

  --dri-thumb-border-radius: var(--ctrls-range-thumb-radius);
  --dri-thumb-color: var(--ctrls-range-thumb-bg);
  --dri-thumb-hover-color: var(--ctrls-range-thumb-hover-bg);
  --dri-thumb-active-color: var(--ctrls-range-thumb-active-bg);

  --dri-thumb-border-color: var(--ctrls-range-thumb-border);
  --dri-thumb-border-hover-color: var(--ctrls-range-thumb-hover-border);
  --dri-thumb-border-active-color: transparent;

  &:has(input:focus-visible) {
    outline-offset: 2px;
  }
}

/* ----- Radio -----  */

.control--radio .control-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.radio-label {
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition:
    color 250ms,
    background-color 250ms;
  border-radius: var(--ctrls-radius);
  border: 1px solid var(--ctrls-input-border);
  background: var(--ctrls-btn-bg);

  &:focus-visible,
  &:hover {
    color: var(--ctrls-theme);
  }
}

.radio-label input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -1000vw;
}

.radio-label:has(input:checked) {
  background: var(--ctrls-btn-selected-bg);
  color: var(--ctrls-btn-selected-text);
  border-color: transparent;
}

.radio-label:has(input:focus-visible) {
  outline: 2px solid var(--ctrls-theme);
  outline-offset: 2px;
}

/* ----- Seed -----  */

.control--seed .control-right {
  display: flex;
  gap: 0.25rem;
}

.seed-input {
  background-color: var(--ctrls-input-bg);
  border: 1px solid var(--ctrls-input-border);
  padding: 0 0.5rem;
  height: 1.75rem;
  border-radius: var(--ctrls-radius);
  width: 0;
  flex-grow: 1;

  &:focus {
    outline: 2px solid var(--ctrls-theme);
    outline-offset: 2px;
  }
}

.seed-new-button {
  padding: 0 0.375rem;
  flex-shrink: 0;

  &:focus-visible,
  &:hover {
    svg {
      transform: rotate(0.5turn);
    }
  }
}

/* ----- Easing -----  */

.easing-wrapper {
  padding: 0.5rem;
  border: 1px solid var(--ctrls-input-border);
  background: var(--ctrls-input-wrapper-bg);
  border-radius: min(calc(var(--ctrls-radius) + 8px), 12px);
  margin-bottom: 0.25rem;
}

.easing {
  position: relative;
  margin-top: 0.5rem;

  path,
  line {
    vector-effect: non-scaling-stroke;
    fill: none;
    stroke-linecap: round;
  }
}

.easing-ticks {
  height: 0.375rem;
  width: 100%;
}

.easing-ticks line {
  stroke: var(--ctrls-easing-border);
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.easing-borders {
  stroke: var(--ctrls-easing-border);
  stroke-dasharray: 1 3;
}

.easing-path {
  stroke-width: 2px;
  stroke: var(--ctrls-theme);
}

.easing-line {
  stroke: var(--ctrls-easing-border);
  stroke-dasharray: 3;
}

.easing-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.easing-buttons button {
  overflow: hidden;
  display: grid;
  align-content: center;
  text-align: center;
  border: 1px solid var(--ctrls-input-border);
  border-radius: var(--ctrls-radius);
  background: var(--ctrls-btn-bg);
  padding: 0.25rem;
  transition:
    color 250ms,
    background-color 250ms;

  &:focus-visible,
  &:hover {
    background: var(--ctrls-btn-hover-bg);
    color: var(--ctrls-theme);
  }
}

.control--radio .control-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.easing-handle {
  touch-action: none;
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: grab;
  font-size: 0;
  color: transparent;
  transition: border 250ms;
  border: 0.75rem solid transparent;

  &::after {
    content: '';
    display: block;
    background-color: var(--ctrls-easing-handle-bg);
    border: 1px solid var(--ctrls-easing-handle-border);
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  &:hover,
  &:focus-visible {
    border-color: oklch(var(--ctrls-theme-oklch) / 0.1);

    &::after {
      background-color: var(--ctrls-theme);
      border: 1px solid var(--ctrls-theme);
    }
  }
}
