@mixin knob-focus {
  outline: none;

  &:focus {
    box-shadow: 0 0 0 2px $blue;
    border-color: $blue;
  }
}

$button-light: rgba(0, 0, 0, 0.01);
$button-still: rgba(0, 0, 0, 0.03);
$button-hover: rgba(0, 0, 0, 0.05);
$button-active: rgba(0, 0, 0, 0.08);

.knobs {
  font-size: 14px;
  margin-bottom: 3px;

  .knob,
  .knob > label {
    display: inline-flex;
    text-transform: capitalize;
    min-height: 30px;
    align-items: center;
  }

  div {
    margin-right: 20px;
  }

  input {
    margin-left: 6px;
  }

  input[type='checkbox'] {
    transform: translateY(1px);
  }

  input[type='text'] {
    @include knob-focus;
    font-size: 14px;
    width: 100px;
    height: 24px;
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 2px;
  }

  input[type='radio'] {
    left: -100vw;
    opacity: 0;
    position: absolute;

    &:checked + span {
      background: $blue;
      color: $white;
    }

    &:focus + span {
      box-shadow: 0 0 0 3px rgba($blue, 0.3);
    }
  }

  .radio-options {
    margin: 0 0 0 4px;
  }

  .radio-options span {
    padding: 3px 8px;

    &:hover {
      background: $button-hover;
    }
  }

  .radio-options label {
    display: inline-flex;
    align-items: center;
    border: 1px solid $button-active;
    border-right: 0;
    background: $button-light;

    &:last-child {
      border-right: 1px solid $button-active;
    }
  }

  button:not(.randomize) {
    @include knob-focus;
    background: $button-still;
    border-radius: 4px;
    border: 1px solid $button-still;
    color: #777;
    font-size: 16px;
    height: 24px;
    margin-left: 2px;
    padding: 0;
    width: 24px;

    &:hover {
      background: $button-hover;
      color: #000;
    }

    &:active {
      background: $button-active;
      transform: translateY(1px);
    }

    &:focus {
      color: #000;
    }
  }

  .easing {
    position: relative;
    margin-left: 5px;

    svg {
      overflow: visible;
      display: block;
      width: 60px;
    }
  }

  .easing-button {
    position: absolute;
    transform: translate(-50%, -50%);
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: grab;
    font-size: 0;
    color: transparent;
    transition: border 250ms;
    border: 5px solid transparent;

    &::after {
      content: '';
      display: block;
      background-color: #eee;
      border: 1px solid #ddd;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }

    &:hover {
      border-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.randomize {
  @include knob-focus;
  background: $button-still;
  border-radius: 4px;
  border: 1px solid $button-still;
  color: #234;
  font-size: 14px;
  padding: 0 8px;
  line-height: 0;
  height: 32px;

  &:hover {
    background: $button-hover;
    color: #000;
  }

  &:active {
    background: $button-active;
    transform: translateY(1px);
    color: #000;
  }
}
