// Breakpoints
$breakpoint-md: 600px;
$breakpoint-lg: 900px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 2000px;

// Animations
$time: 250ms;

// Layout
$panel-width-lg: 27rem;

// Colors
$white: #ffffff;
$black: #000000;
$gray-100: #ecf0f1;
$gray-200: #b2bec3;
$gray-400: #929292;
$gray-500: #767676;
$gray-700: #484848;
$gray-900: #111111;

$blue: #0074e8;